@media only screen and (max-width: 599px) and (orientation: portrait) {
    .main__navbar__container { 
        display:flex;
        flex-direction: row;
        background-color:red;
        width:100%;
        min-height:75px;
        max-height: 185px;
        height:100%;
        justify-content: space-around;
        align-items: center;

    }

    .position__checkbox {
        position:relative;
        left:91px;
        
        padding:20px;
        cursor:pointer;
    }

    .hide {
        display:none;
    }

    .bars {
        display:block;
        width:30px;

    }

    .nav__wrapper {
        display:none;
        position:absolute;
        font-size:1.2em;
        flex-direction:column;
        min-height:100px;
        max-height: 230px;
        height:auto;
        right:0px;
        top:120px;
        background-color:red;
        align-items: center;
        width:auto;
        padding:15px;

        
    }

    .nav__icon {
        margin-top:2px;
        border-bottom:1px solid black;
        width:100%;
        text-align: center;
    }
    
    .main__background {
        

    }

    .phone__pictures__area {
        display:flex;
        min-height:100px;
        max-height:175px;
        height:auto;
        width:100vw;
        background-color: aqua;
        background-image: url('../../..//images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-items: center;
        justify-content: center;
        min-height:360px;
        height:100%;
        width:100%;
    }

    .small__image {
        display:block;
        position:static;
        margin-bottom:11.2em;
        width:350px;
        
        
    }
}
