@media only screen and (min-width: 1200px) {
    .main__background {
        background-color:#fff;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height:100px;
        overflow-y: hidden;
        
              

    }

    .main__navbar__container {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width:80em;
        padding:8em;
        

    }

    .bars {
        display: none;
    }

    .hover__animation:hover {
        cursor:pointer;
        
    }

    .request__button {
        background: rgb(37,207,97);
        background: linear-gradient(37deg, rgb(25, 180, 79) 55%, rgba(43,184,212,1) 100%);
        width:12em;
        height:2.5em;
        border-radius:3em;
        color:#ffff;
        letter-spacing: 1px;
        font-size:1.1em;

    }

    .nav__wrapper {
        display:flex;
        justify-content: space-around;
        align-items: center;
        width:32em;
        margin-right:2em;
        height:4em;
        overflow-y: hidden;
              
        
    }

    .border__bottom__green {
        padding:1em;
    }

    .border__bottom__green:hover {
        display:flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        height:100%;
        width:fit-content;
        animation: border__bottom__green__hover 1s ease-in-out forwards;
        
        
    }

    @keyframes border__bottom__green__hover {
        from {
            box-shadow: 0 0 0 0px #fff inset; 
            border-radius:2px;
        }
    
        50% {
            box-shadow: 0 -2px 0 0px #008000 inset; 
            border-radius:6px;
        }
    
        to {
            box-shadow: 0 -4px 0 0px #01cc8f inset; 
            border-radius:8px;
        }
    }   

    .easybank__content__container {
        
        overflow-y: hidden;
        justify-content: center;
        align-items: center;

    }

    .main-content-main {
        position:relative;
        overflow-y: hidden;

    }

    .header-wrapper {
        display:flex;
        flex-direction:row-reverse;
        overflow-y: hidden;
        min-height:700px;
        max-height:450px;
        width:100%;
        height:100%;
        justify-content: space-between;
        align-items: center;
        

    }

    .phone__pictures__area {
        display:flex;
        overflow-y: hidden;
        justify-content: right;
        align-items: center;
        min-height:200px;
        width:900px;
        height:100%;        
        
    }

    .picture__desktop__image__container {
        display: flex;
        position: relative;
        overflow-y: hidden;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-image: url(../../../images/bg-intro-desktop.svg);
        background-size: 178%;
        background-position: left;
        bottom: 50px;
    }

 
    .phone__image {
        position:absolute;
        width: 45em;
        right:-7em;
        min-height:100px;
        max-height:1200px;
        
    }

    .marketing__request__invite { 
        display:flex;
        align-items: right;
        justify-content: space-around;
        flex-direction: column;
        height:25em;
        padding:2em;


    }

    .main__page__title {
        font-size: 3em;
        font-weight:200;
        color: #292b3b;
        width:400px;
        
    }

    .main__paragraph {
        font-size:1.3em;
        font-weight:200;
        word-spacing: 0.2em;
        width:400px;
        color: #2D314D;
    }

    .gray__bg {
        background-color:#eef0f6;
        
    }

    .promoting__container {
        display:flex;
        flex-direction: column;
        width:100%;
        min-height: 20em;
        justify-content: center;
        align-items: left;
        
        
    }

    .wrap__content {
        display:flex;
        flex-direction:row;
        
    }

    .padding__set {
        padding:4em;

    }

    .icon__size__set {
        text-align: center;
        width:60px;
        
    }

    .first__titles {
        font-weight:300;
        font-size:36px;
        color: #292b3b;
        margin-bottom:0.5em;
    }

    .first__paragraphs {
        font-size:1.15em;
        line-height: 1.6em;
        width:32em;
        font-weight: 300;
        color:#5e5f68;
        
    }

    .sub__titles {
        font-weight:500;
        color: #292b3b;

    }

    .sub__paragraphs {
        font-weight:300;
        line-height:1.3em;
        color:#5e5f68;
    }

    .wrap__content__promoting {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height:14em;
        margin:2em;
    }

    .latest__articles__container {
        
    
        
    }

    .latest__articles {
        display: flex;
        flex-direction: row;
        align-items: left;
        min-width: 1000px;
        width: 100%;
        padding: 5em;
    
    }
    

    .article__image__container {
        display:flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 16em;
        height: 12em;
    }

    .article__image__container img {
        width:100%;
        height:100%;
        border-radius:1em;
    }

    .article__paragraphs {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        min-height:25em;
        margin-right:1em;
        text-align: left;
        color:#5e5f68;
        
    }

    .article__author {
        color:#5e5f68;

    }

    .article__title {
        color:#000;
        font-weight:300

    }
    
    .section__main__title {
        font-weight:300;
        font-size:2.5em;
        color:#292b3b;
        padding-top:1.5em;
        padding-left:2.2em;


    }

    .contact__info__container {
        display:flex;
        justify-content: space-around;
        min-height:10em;
        align-items: center;
        height:100%;
        background-color:rgb(45,49,78);
        color:white;
    }

    .logo__social__media__area {
        display:flex;
        flex-direction:column;
        gap:3em;

    }

    .contacts__nav__row__hero {
        display:flex;
        flex-direction: row;
        gap:0.9em;
        
    }

    .contacts__nav {
        display:grid;
        grid-template-columns: auto auto;
        column-gap:8em;
        row-gap:0.8em;
        letter-spacing: 0.1em;
        margin-right:32em;
    }

    .confirmation_button_and_rights {
        display:flex;
        flex-direction: column;
        gap:1.5em;
        color:#aaabb3;
    }

    .confirmation_button_and_rights input {
        margin-left:3em;
        
    }

    .mobile_version {
        display:none;
    }
    

}
