@media only screen and (min-width: 1200px) {
    .main__background {
        background-color:#fff;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height:100px;
        overflow-y: hidden;
        
              

    }

    .main__navbar__container {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width:80em;
        padding:8em;
        

    }

    .bars {
        display: none;
    }

    .hover__animation:hover {
        cursor:pointer;
        
    }

    .request__button {
        background: rgb(37,207,97);
        background: linear-gradient(37deg, rgb(25, 180, 79) 55%, rgba(43,184,212,1) 100%);
        width:12em;
        height:2.5em;
        border-radius:3em;
        color:#ffff;
        letter-spacing: 1px;
        font-size:1.1em;

    }

    .nav__wrapper {
        display:flex;
        justify-content: space-around;
        align-items: center;
        width:32em;
        margin-right:2em;
        height:4em;
        overflow-y: hidden;
              
        
    }

    .border__bottom__green {
        padding:1em;
    }

    .border__bottom__green:hover {
        display:flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        height:100%;
        width:fit-content;
        animation: border__bottom__green__hover 1s ease-in-out forwards;
        
        
    }

    @keyframes border__bottom__green__hover {
        from {
            box-shadow: 0 0 0 0px #fff inset; 
            border-radius:2px;
        }
    
        50% {
            box-shadow: 0 -2px 0 0px #008000 inset; 
            border-radius:6px;
        }
    
        to {
            box-shadow: 0 -4px 0 0px #01cc8f inset; 
            border-radius:8px;
        }
    }   

    .easybank__content__container {
        
        overflow-y: hidden;
        justify-content: center;
        align-items: center;

    }

    .main-content-main {
        position:relative;
        overflow-y: hidden;

    }

    .header-wrapper {
        display:flex;
        flex-direction:row-reverse;
        overflow-y: hidden;
        background-color:red;
        min-height:700px;
        max-height:450px;
        width:100vw;
        height:100%;
        justify-content: space-evenly;
        align-items: center;
        

    }

    .phone__pictures__area {
        display:flex;
        overflow-y: hidden;
        justify-content: right;
        align-items: center;
        min-height:200px;
        width:1300px;
        height:100%;
        background-color:blue;
        
        
    }

    .picture__desktop__image__container {
        display: flex;
        position: relative;
        overflow-y: hidden;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-image: url(../../../images/bg-intro-desktop.svg);
        background-size: 178%;
        background-position: left;
        bottom: 50px;
    }

 
    .phone__image {
        position:absolute;
        width: 45em;
        right:-10%;
        min-height:100px;
        max-height:900px;
        
    }

    .marketing__request__invite { 
        display:flex;
        align-items: right;
        justify-content: space-around;
        flex-direction: column;
        background-color:green;
        height:25em;
        padding:2em;


    }

    .main__page__title {
        font-size: 4em;
        font-weight:300;
        color:rgb(36, 35, 35);
        
    }

    .main__paragraph {
        font-size:1.3em;
        font-weight:200;
        word-spacing: 0.2em;
    }


    

}
